
@{
    ViewBag.Title = "ProductGroupInput";
    Layout = "~/Views/Shared/_LayoutInput.cshtml";
}
@if (this.ViewBag.Result.Count > 0)
{
    <div id="main-content">
        <!-- BEGIN Page Title -->
        <div class="page-title">
            <div>
                <h1><i class="fa fa-wrench"></i>Cập nhật thông tin nhóm hàng hóa</h1>
            </div>
        </div>
        <!-- END Page Title -->
        <!-- BEGIN Breadcrumb -->
        <!-- END Breadcrumb -->
        <!-- BEGIN Main Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-bars"></i> Thông tin</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form action="#" class="form-horizontal" id="validation-form" method="post">
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="ProductGroupId">Mã nhóm hàng hóa:</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <input type="text" name="ProductGroupId" value="@this.ViewBag.Result[0].ProductGroupId" disabled id="ProductGroupId" class="form-control" data-rule-required="true" data-rule-minlength="3" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="ProductGroupName">Tên nhóm hàng hóa (*):</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <input required type="text" value="@this.ViewBag.Result[0].ProductGroupName" name="ProductGroupName" id="ProductGroupName" class="form-control" data-rule-required="true" data-rule-minlength="3" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="Remark">Ghi chú:</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    
                                    <textarea type="text" name="Remark" id="Remark" value="@this.ViewBag.Result[0].Remark" class="form-control" data-rule-required="true" data-rule-minlength="3" rows="5"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <input type="button" onclick="onBtnSave(@this.ViewBag.Result[0].ProductGroupId);" class="btn btn-primary" value="Xác nhận">
                                    <button type="button" onclick="window.close();" class="btn">Hủy bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Main Content -->

        <footer>
            <p>2013 © FLATY Admin Template.</p>
        </footer>

        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
}
else
{
    <div id="main-content">
        <!-- BEGIN Page Title -->
        <div class="page-title">
            <div>
                <h1><i class="fa fa-plus"></i>Thêm thông tin sản phẩm</h1>
            </div>
        </div>
        <!-- END Page Title -->
        <!-- BEGIN Breadcrumb -->
        <!-- END Breadcrumb -->
        <!-- BEGIN Main Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-title">
                        <h3><i class="fa fa-bars"></i> Thông tin</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form action="#" class="form-horizontal" id="validation-form" method="post">
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="ProductGroupId">Mã sản phẩm:</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <input type="text" name="ProductGroupId" value="" disabled id="ProductGroupId" class="form-control" data-rule-required="true" data-rule-minlength="3" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="ProductGroupName">Tên nhóm sản phẩm (*):</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <input required type="text" value="" name="ProductGroupName" id="ProductGroupName" class="form-control" data-rule-required="true" data-rule-minlength="3" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-lg-2 control-label" for="Remark">Ghi chú:</label>
                                <div class="col-sm-6 col-lg-4 controls">
                                    <textarea type="text" name="Remark" id="Remark" value="" class="form-control" data-rule-required="true" data-rule-minlength="3" rows="5"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
                                    <input type="button" onclick="onBtnSave();" class="btn btn-primary" value="Xác nhận">
                                    <button type="button" onclick="window.close();" class="btn">Hủy bỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Main Content -->

        <footer>
            <p>2013 © FLATY Admin Template.</p>
        </footer>

        <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
    </div>
}
<script>
    function onBtnSave(id = null) {
        if (id != null) {

        }
        var obj = {};
        $.each($("#validation-form").serializeArray(), function (k, v) {
            obj[v.name] = v.value;
        });
        if (!obj["ProductGroupId"]) {
            obj["ProductGroupId"] = id;
        }
        debugger;
        if (id != null) {
            $.post(
                '/Product/ProductGroupExecuteSave',
                {
                    CommandAction: {
                        Item: obj,
                        EditFlag: "M"
                    }
                },
                function (result) {
                    if (result.IsSuccess == true) {
                        callback(result);
                    }
                }
            );
        }
        else {
            $.post(
                '/Product/ProductGroupExecuteSave',
                {
                    CommandAction: {
                        Item: obj,
                        EditFlag: "I"
                    }
                },
                function (result) {
                    if (result.IsSuccess == true) {
                        callback(result);
                    }
                }
            );
        }
    }
</script>

